body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201b2c;
}

.user-info img {
    max-width: 150px;
    height: auto;
}

.score-icon {
    width: 12px;
    height: auto;
}

.user-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-info p {
    display: flex;
    align-items: center;
    
}

.user-info span {
    color: #a4b6b6de;
    font-size: 15px;
    
}

.user-info h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #a4b6b6de;
    font-weight: 400;
}

.user-info p img {
    margin-right: 5px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2f2841;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.divider, .section-divider {
    border: none;
    border-top: 2px solid #f0ffffde;
    margin: 50px 0;
}

h1, h2 {
    text-align: center;
    color: #f0ffffde;
    font-weight: 400;
    margin-bottom: 20px;
}

.language-selection, .character-selection, .opponent-selection, .last-game-report {
    margin-top: 30px;
}

.language, .character, .opponent {
    text-align: center;
}

.language img, .character img, .opponent img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.btn-select, .btn-option, .btn-create {
    display: inline-block;
    width: 180px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #a4b6b6de;
    color: #201b2c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-create:hover, .btn-option:hover, .btn-select:hover {
    background-color: #00ff88;
}

.last-game-report {
    background-color: #37304d;
    color: #f0ffffde;
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

.last-game-report h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.last-game-report p {
    margin-top: 5px;
    margin-bottom: 5px;
}


.quiz-button {
    position: absolute;
    top: 10px; 
    left: 5px; 
  }
  
  .quiz-button button {
    padding: 10px 5px; 
    font-size: 14px;
    width: 100px; 
    margin-left: 20px;
  }


