body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #201b2c;
}

.race-track {
    position: relative;
    width: 80%;
    height: 100px; /* Altura da pista de corrida */
    background-color: #2f2841;
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer;
    overflow: visible; /* Permite que os personagens se estendam para fora da linha */
    padding: 20px; /* Espaçamento interno para mostrar os personagens além dos limites */
}

.competitor {
    position: absolute;
    bottom: -30px; /* Posição ajustada para os personagens aparecerem parcialmente fora da linha */
    cursor: pointer;
    user-select: none; /* Impede a seleção de texto ao arrastar */
}

.competitor img {
    max-width: 300px; /* Largura máxima da imagem do personagem */
    max-height: 300px; /* Altura máxima da imagem do personagem */
    border-radius: 50%; /* Mantém o formato circular */
    object-fit: cover;
}
