@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201b2c;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2f2841;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}
h1 {
    text-align: center;
    color: #f0ffffde;
}
.contact-info {
    margin-top: 30px;
}
.contact {
    margin-bottom: 20px;
}
.contact h2 {
    color: #f0ffffde;
}
.contact p {
    color: #f0ffffde;
}
.contact p a {
    color: #00ff88;
    text-decoration: none;
}
.contact p a:hover {
    text-decoration: underline;
}
